# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
*.xml
*.html
*.